.add-recipe-modal-container {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0008;
}

.add-recipe-modal-container > form {
    width: 18rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 0px 25px 0px #000;
    background-color: #001428;
    position: relative;
}

.add-recipe-modal-container > form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.add-recipe-modal-container > form > button[name='close']{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.add-recipe-modal-container > form > button[name='close'] > svg{
    font-size: 1.3rem;
    color: #5699F6;
}

.add-recipe-modal-container > form > h4 {
    color: #fff;
    font-size: 1.3rem;
}

.add-recipe-modal-container > form > div > label {
    align-self: flex-start;
    color: #fff;
    padding: 0.5rem 0;
}

.add-recipe-modal-container > form > div > input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #365076;
    color: #5699F6;
    padding: 0.2rem;
}

.add-recipe-modal-container > form > div > input::placeholder {
    color: #365076;

}

.add-recipe-modal-container > form > button {
    background-color: #5699F6;
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 3px;
    cursor: pointer;
}

@media (max-width: 290px){
    .add-recipe-modal-container > form {
        width: 90vw;
    }
}