.header {
    width: 100%;
    border-bottom: 0.5px solid #5699F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: #001428;
}
  
.header > h2 {
    margin-left: 3rem;
    color: #fff;
}
  
.header > nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
  
.header > nav > ul {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
  
.header > nav > ul > li {
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;
    cursor: pointer;
}

@media (max-width: 700px){
    .header {
        flex-direction: column;
    }
    
    .header > h2 {
        margin-left: 0;
    }
    
    .header > nav > ul {
        width: 98vw;
    }
    
    .header > nav > ul > li {
        width: 6rem;
        text-align: center;
    }
}