.td-control {
    vertical-align: middle;
    text-align: center;
}

.td-control > button {
    vertical-align: middle;
    display: inline-block;
    margin: 0.5rem;
    background-color: #5699F6;
    border: none;
    color: #fff;
    padding: 0.3rem;
    border-radius: 3px;
    cursor: pointer;
}

.td-control > p {
    vertical-align: middle;
    display: inline-block;
    margin: 0.5rem;
}