.helper-modal {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0008;
}

.helper-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: #041A33;
    position: relative;
}

.helper-container>h5 {
    font-size: 1.4rem;
    color: #fff;
}

.helper-container>button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.helper-container>button>svg {
    font-size: 1.3rem;
    color: #5699F6;
}

.helper-details {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #001428;
    overflow-y: auto;
}

.helper-details>h6 {
    font-size: 1.1rem;
    padding: 0.5rem;
    color: #fff;
    text-align: center;
}

.helper-details>table {
    width: 99%;
    border-radius: 20px;
    border-collapse: collapse;
    border: 2px solid #041A33;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.helper-details>table>thead>tr>th {
    padding: 0.5rem;
    border: 2px solid #041A33;
}

.helper-details>table>tbody>tr:nth-child(odd) {
    background-color: #041A33;
}

.helper-details>table>tbody>tr:nth-child(even) {
    background-color: #001428;
}

.searcher-helper-container {
    padding: 0.5rem;
}

.searcher-helper-container > h6 {
    font-size: 1rem;
    color: #e4e5e6;
    text-align: center;
}


@media (max-width: 367px) {
    .helper-container {
        width: 80vw;
    }

    .helper-details {
        height: 58vh;
    }

    .helper-container>h5 {
        font-size: 1.2rem;
    }

    .helper-details>table {
        width: 95%;
        font-size: 0.75rem;
    }

    .helper-details>table>thead>tr>th {
        padding: 0rem;
    }

    .helper-details>table>thead>tr>th:nth-child(3) {
        width: 3.3rem;
    }

    .helper-details>table>tbody>tr>td:nth-child(3) {
        width: 3.3rem;
    }

    .searcher-helper-container > h6 {
        font-size: 0.9rem;
    }

    .searcher-helper-container > input {
        font-size: 0.9rem;
        width: 80%;
    }

    .searcher-helper-container > input::placeholder {
        font-size: 0.8rem;
    }
}

@media (min-width: 367px) and (max-width: 640px) {
    .helper-container {
        width: 80vw;
    }

    .helper-details {
        height: 58vh;
    }

    .helper-container>h5 {
        font-size: 1.2rem;
    }

    .helper-details>table {
        width: 95%;
        font-size: 0.75rem;
    }

    .helper-details>table>thead>tr>th {
        padding: 0rem;
    }
}